body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}

.form1 {
    border: 3px solid #f1f1f1;
    display: grid;
    align-content: center;
}

input[type=text] {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: orangered;
}

.container {
    padding: 16px;
}

h3 {
    opacity: 0.6;
}

label {
    color: rebeccapurple;
}

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

.new {
	display: block;
}

.new1 {
	display: inline-block;
}